.main-specificbook {
  display: flex;
  padding: 20px;
  background-color: #ffffff;

  .book {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .book-image {
      flex: 0 1 50%;
      text-align: center;
      padding: 0px 10px 10px 0px;
      display: block;

      & img {
        max-width: 250px;
        border-radius: 5px;
      }
    }

    .book-title {
      flex: 1 1 50%;
      padding: 0px 10px 10px 10px;

      .title {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.5;
        margin: 10px 0px 30px 0;
      }

      & p {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 25px;
        line-height: 1.5;
      }
    }

    .book-description {
      flex: 0 1 100%;
      padding-right: 10px;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 1.1px;
    }
  }

  .book-container {
    flex: 0 0 33.333%;
    margin-left: 10px;

    .book-price-container {
      border: 1.5px solid #383838;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 500;
      padding: 10px;

      .price {
        display: flex;
        justify-content: space-between;
        padding: 15px;
      }

      .count {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;

        .count-block {
          display: flex;
          justify-content: center;

          .btn-minus {
            font-size: 16px;
            font-weight: 700;
            width: 35px;
            height: 35px;
            margin-left: 20px;
            background-color: #8bb0fe;
            color: #000;
            text-align: center;
            border: 1px solid #3e3e3e;
            border-radius: 8px;
            transition: all 0.4s ease 0s;
          }

          .btn-minus:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }

          .input-count {
            border: 1px solid #383838;
            border-radius: 8px;
            width: 50px;
            height: 35px;
            margin: 0px 5px;
            padding: 0px 11px;
            font-size: 16px;
            font-weight: 500;
            text-align: center;
          }

          .input-count::-webkit-outer-spin-button,
          .input-count::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          .btn-plus {
            font-size: 16px;
            font-weight: 700;
            width: 35px;
            height: 35px;
            background-color: #8bb0fe;
            color: #000;
            text-align: center;
            border: 1px solid #3e3e3e;
            border-radius: 8px;
            transition: all 0.4s ease 0s;
          }

          .btn-plus:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }
        }
      }

      .total-price {
        display: flex;
        justify-content: space-between;
        padding: 15px;
      }

      .btn-add-to-cart {
        display: flex;
        justify-content: flex-end;
        padding: 10px;

        & button {
          font-size: 18px;
          font-weight: 500;
          padding: 10px 14px;
          background-color: #8bb0fe;
          color: #000;
          text-align: center;
          border: 1px solid #3e3e3e;
          border-radius: 5px;
          transition: all 0.4s ease 0s;
        }
      }
    }
  }
}

/* --------------@MEDIA--------------------------------------------- */

@media (max-width: 870px) {
  .main-specificbook {
    flex-wrap: wrap;
    justify-content: center;

    .book-container {
      flex: 1 1 80%;
      margin: 20px 0px 10px 0px;
    }
  }
}

@media (max-width: 581px) {
  .book {
    .book-image {
      flex: 1 1 auto;
      padding: 0px 0px 10px 0px;
    }

    .book-title {
      flex: 1 1 auto;
      padding: 0px 0px 10px 0px;
    }
  }
}

@media (max-width: 426px) {
  .book-container {
    flex: 1 0 auto;
    margin: 20px 0px 10px 0px;

    .book-price-container {
      border: 1px solid #383838;
      padding: 0px;

      .btn-add-to-cart {
        justify-content: center;
        padding-bottom: 20px;

        & button {
          min-width: 220px;
        }
      }
    }
  }
}

@media (hover:hover){
	.book-container {
    .book-price-container {
      .count {
        .count-block {
          .btn-minus:hover {
            color: #fff;
            background-color: #3a4afc8c;
          }

          .btn-plus:hover {
            color: #fff;
            background-color: #3a4afc8c;
          }
        }
      }

      .btn-add-to-cart {
        & button:hover {
          color: #fff;
          background-color: #3a4afc8c;
        }
      }
    }
  }
}

@media (hover:none){
	.book-container {
    .book-price-container {
      .count {
        .count-block {
          .btn-minus:active {
            color: #fff;
            background-color: #3a4afc8c;
          }

          .btn-plus:active {
            color: #fff;
            background-color: #3a4afc8c;
          }
        }
      }

      .btn-add-to-cart {
        & button:active {
          color: #fff;
          background-color: #3a4afc8c;
        }
      }
    }
  }
}